<div class="container mx-auto pt-24">
    <div class="flex flex-wrap -mx-2">
        <div class="w-full px-2">
            <div class="w-[840px] h-[450px] overflow-hidden">
                <img
                  src="https://ristek.link/fotojames1"
                  alt="Video Thumbnail"
                  class="w-full h-full object-cover"
                >
              </div>
            <h1 class="text-3xl font-bold mb-2 py-2">Asdos 2GB</h1> <!--{{ video.title }} -->
            <div class="flex items-center mb-4">
                <span class="text-gray-700 mr-4">156,987 views &bull; Nov 25, 2022</span>
            </div>
            <div class="border-t pt-4">
                <div class="flex items-start mb-4">
                    <div>
                        <h6 class="font-bold">Channel Name</h6> <!--{{ video.channel_name }} -->
                        <p class="text-gray-500 mb-2">1.2K subscribers</p>
                        <p class="text-gray-700 mb-2">
                            Deskripsi Video haha hihi huhu hoho yey yey yey yey. Aku mau coba nulis deskripsi yang panjang. Aku suka banget mata kuliah ini. Lorem ipsum coba coba aja lah ya ini mah biar panjang. FOLLOW MY IG @tsabit.coda and @lifeatpbp yeyyy huhu aku senang sekaliii
                            yey apakah ini sudah cukup panjang? Tidak? Oke aku tambah lagi deh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc. Aku masih tidak percaya kami sukses mengajak semua atlet ini untuk ikutan video ini
                            Terima kasih kepada Yahoo Sports yang sudah mau jadi sponsor. Ayo ikutan kesempatan untuk bertemu aku di salah satu videoku hanya dengan mendownload aplikasi Yahoo Sports dan mendaftar untuk ikutan bermain Daily Draw. Permainan dimulai pada tanggal 20 Des untuk kesempatan memenangkan $10.000 tiap harinya selama 10 hari berturut-turuthttps://yahoosports.com/mrbeast
                            
                            Ayo cek video kolaborasi dengan Ronaldo    • I face off with MrBeast  
                            
                            Ronaldo
                               / @cristiano  
                            
                            Tom Brady
                               / @tombrady  
                            
                            Noah Lyles
                               / @noahlyles18  
                            
                            Bryce Harper
                              / 3ryceharper  
                            
                            Bryson DeChambeau
                               / @brysondechambeau  
                            
                            Speed
                               / @ishowspeed  
                            
                            New Merch - https://mrbeast.store
                            
                            Check out Viewstats! - https://www.viewstats.com/
                            
                            SUBSCRIBE ATAU AKU AKAN MENGAMBIL HEWAN PELIHATAANMU
                            ╔═╦╗╔╦╗╔═╦═╦╦╦╦╗╔═╗
                            ║╚╣║║║╚╣╚╣╔╣╔╣║╚╣═╣ ╠╗║╚╝║║╠╗║╚╣║║║║║═╣
                            ╚═╩══╩═╩═╩═╩╝╚╩═╩═╝
                            Untuk semua pertanyaan terkait video, kamu bisa menghubungichucky@mrbeastbusiness.com
                            
                            Musik diserdiakan olehhttps://www.extrememusic.com
                            
                            ----------------------------------------------------------------
                            follow semua sosmed di bawah sini atau aku akan menghajar kamu
                            • Facebook -   / mrbeast6000  
                            • Twitter -   / mrbeast  
                            • Instagram -   / mrbeast  
                            • Ada lowowngan loh! - https://www.mrbeastjobs.com/
                            --------------------------------------------------------------------

                            Learn how to use GitHub to create new repositories, clone repositories locally, commit changes and manage project files.

This full-length tutorial is an introduction on how to use GitHub for beginners and experts.

📋 Table of Contents:

Introduction: 0:00
Accessing GitHub: 00:45
Creating a Repository 1:23
Viewing Repository List: 2:23
Installing GitHub Desktop: 3:22
Cloning a Repository Locally: 3:45
Committing New Changes: 5:02
Viewing Commits on GitHub: 6:50
Outro: 7:25

🧩 Related Content:
More information regarding GitHub available on AnsonAlex.com:
https://ansonalex.com/tutorials/githu...

💻 More tips and tutorials:
http://AnsonAlex.com

🔎 Request a tutorial:
https://forms.gle/sciVnK4tHno7sCcGA

☎️ To get in contact with me:
  / ansonalexander  
  / ansonalex  

🎥 For behind the scenes and exclusive content:
  / ansonalex.c0m  

🙏 To support the channel:
https://amzn.to/3VAJbNl
(Support the channel by shopping as you normally would)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/alpinejs@3.0.6" defer></script>
