{% load svg %}
{% load static %}
<div class="h-max flex justify-center items-start font-body ">
  <div class="w-3/5 h-4/5">
    <div class="p-6 bg-white rounded-xl border-2 flex flex-col space-y-6 mt-36 ml-12 mb-16">
      <img class="rounded-md w-full" src="{{ video.thumb }}" />
      <a class="text-5xl font-body-bold" href="https://youtube.com/watch?v={{ video_id }}">{{ video.title }}</a>
      <p class="mb-2 text-lg font-body-bold">{{ video.datePublished }}</p>
      <p class="mb-2 overflow-scroll h-72">{{ video.desc|linebreaksbr }}</p>
      {% if video.tags %}
        <p class="mb-2">Tags :
            {% for tag in video.tags %}
              <span class="bg-gray-200 text-gray-800 px-2 py-1 rounded-md mr-2">{{ tag }}</span>
            {% endfor %}
        </p>
      {% endif %}
      <p class="border-t-2">Weekly Movement : {{ video.weeklyMovement }}</p>
      <p class="">Daily Movement : {{ video.dailyMovement }}</p>
      <p class="">Daily Rank : {{ video.dailyRank }}</p>
      <p class="">View Count : {{ video.viewCount }}</p>
      <p class="">Like Count : {{ video.likeCount }}</p>
      <p class="">Comment Count : {{ video.commentCount }}</p>
    </div>
  </div>
  <div class="flex flex-col h-screen w-full space-y-16 pt-36 items-center justify-center overflow-hidden -ml-72">
    <div class="flex space-x-6 ml-80">
      {% for d in dates %}
      {% if d == date %}
      <form method="post" action="{% url 'video:video' video_id=video_id %}">
        {% csrf_token %}
        <input name="date_select" class="hidden" value="{{ d }}">
        <button type=submit class="border-0 bg-red text-white px-4 py-2 rounded-md text-center">{{ d }}</button>
      </form>
      {% else %}
      <form method="post" action="{% url 'video:video' video_id=video_id %}">
        {% csrf_token %}
        <input name="date_select" class="hidden" value="{{ d }}">
        <button type=submit class="border-0 bg-dark-bg-3 text-white px-4 py-2 rounded-md text-center">{{ d }}</button>
      </form>
      {% endif %}
      {% endfor %}
    </div>
    <div class="w-full h-full">
      <div class="relative left-1/4">
        <div class="absolute left-[25px]">
          {% svg 'rest' %}
        </div>
        <form method="post" action="{% url 'video:video' video_id=video_id %}">
          {% csrf_token %}
          <input name="country_select" class="hidden" value="US">
          <input name="date_select" class="hidden" value="{{ date }}">
          <button type=submit class="absolute top-[172px]">
            {% if 'US' in countries and 'US' == country %}
            {% svg 'US' %}
            {% elif 'US' != country and 'US' in countries%}
            {% svg 'USUnsel' %}
            {% else %}
            {% svg 'USDark' %}
            {% endif %}
          </button>
        </form>
        <form method="post" action="{% url 'video:video' video_id=video_id %}">
          {% csrf_token %}
          <input name="country_select" class="hidden" value="ID">
          <input name="date_select" class="hidden" value="{{ date }}">
          <button type=submit class="absolute top-[446px] left-[742px]">
            {% if 'ID' in countries and 'ID' == country %}
            {% svg 'ID' %}
            {% elif 'ID' != country and 'ID' in countries %}
            {% svg 'IDUnsel' %}
            {% else %}
            {% svg 'IDDark' %}
            {% endif %}
          </button>
        </form>
        <form method="post" action="{% url 'video:video' video_id=video_id %}">
          {% csrf_token %}
          <input name="country_select" class="hidden" value="IN">
          <input name="date_select" class="hidden" value="{{ date }}">
          <button type=submit class="absolute top-[356px] left-[666px]">
            {% if 'IN' in countries and 'IN' == country %}
            {% svg 'IN' %}
            {% elif 'IN' != country and 'IN' in countries %}
            {% svg 'INUnsel' %}
            {% else %}
            {% svg 'INDark' %}
            {% endif %}
          </button>
        </form>
        <form method="post" action="{% url 'video:video' video_id=video_id %}">
          {% csrf_token %}
          <input name="country_select" class="hidden" value="MX">
          <input name="date_select" class="hidden" value="{{ date }}">
          <button type=submit class="absolute top-[366px] left-[142px]">
            {% if 'MX' in countries and 'MX' == country %}
            {% svg 'MX' %}
            {% elif 'MX' != country and 'MX' in countries %}
            {% svg 'MXUnsel' %}
            {% else %}
            {% svg 'MXDark' %}
            {% endif %}
          </button>
        </form>
        <form method="post" action="{% url 'video:video' video_id=video_id %}">
          {% csrf_token %}
          <input name="country_select" class="hidden" value="BR">
          <input name="date_select" class="hidden" value="{{ date }}">
          <button type=submit class="absolute top-[448px] left-[267px]">
            {% if 'BR' in countries and 'BR' == country %}
            {% svg 'BR' %}
            {% elif 'BR' != country and 'BR' in countries %}
            {% svg 'BRUnsel' %}
            {% else %}
            {% svg 'BRDark' %}
            {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>