<main class="pt-28 h-screen flex flex-col items-center justify-center space-y-6">
  <form class="autocomplete flex flex-col items-center space-y-4 mb-6" method="post" action="{% url 'search:search' %}">
    {% csrf_token %}
    <input class="textinput w-[64rem] h-16 px-6 border-2 border-gray-400 rounded-full text-2xl font-body" name="query"
      type="text" placeholder="Search Our Database..." value="{{ query }}">
  </form>
  <div
    class="pt-8 w-4/5 grid grid-cols-[30%_auto_10%] text-2xl overflow-hidden border-t-2 border-x-2 rounded-t-xl flex-1 content-start">
    <div class="font-body-bold flex justify-center items-center self-start border-b-2 pb-8">
      Unique ID
    </div>
    <div class="font-body-bold flex justify-center items-center self-start border-b-2 pb-8">
      Title/Name
    </div>
    <div class="font-body-bold flex justify-center items-center self-start border-b-2 pb-8">
      Type
    </div>
    <div class="query-results grid grid-cols-[30%_auto_10%] col-span-3 overflow-scroll text-2xl font-body">

    </div>
  </div>
  <script>
    inputField = document.querySelector('.autocomplete');
    inputField.addEventListener('input', change);

    async function change() {
      if (document.querySelector('.textinput').value != '') {
        const response = await fetch("{% url 'search:autocomplete' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          mode: 'same-origin',
          body: JSON.stringify({
            'query': "" + document.querySelector('.textinput').value,
          })
        });

        data = await response.json();

        results = document.querySelector('.query-results');
        inner = "";
        i = 0

        data.forEach(element => {
          i++
          if (i % 2 == 0) {
            color = "bg-gray-200";
          } else {
            color = "";
          }
          id = element['id']['value'];
          type = element['type']['value'];
          inner += `
              <a class="grid grid-cols-[30%_auto_10%] col-span-3" href="/${type}/${id}">
                <div class="flex self-start justify-center items-center py-4 ${color}">
                  ${id}
                </div>
                <div class="text-ellipsis self-start items-center text-nowrap overflow-hidden py-4 ${color}">
                  ${element['label']['value']}
                </div>
                <div class="flex self-start justify-center items-center items-start py-4 ${color}">
                  ${type}
                </div>
              </a>
          `;
        });

        results.innerHTML = inner;
      } else {
        results.innerHTML = '';
      }

    }

    change();
  </script>
</main>