{% load static %}
{% load static tailwind_tags %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" translate="no">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate">
  <title>YouTrend</title>
  {% tailwind_css %}
</head>

<body>
  <main>
    {% if content != 'landingpage.html' %}
      {% include "header.html" %}
    {% endif %}
    {% include content %}
    {% include "footer.html" %}
  </main>
</body>

</html>