{% load static %}

<footer class="bottom-0 w-screen bg-dark-bg-2 flex">
  <div class="pl-16 grid grid-cols-4 w-4/5 py-16">
    <div class="flex flex-col space-y-6 col-span-2 py-6 pr-12">
      <div class="flex items-center space-x-3">
        <div>
          <img class="h-10" src="{% static 'img/logo.png' %}">
        </div>
        <div class="font-body-bold text-4xl text-white">
          YouTrend
        </div>
      </div>
      <p class="font-body text-xl text-white text-justify">
        Halo, ya ini adalah TK kami ya fontnya kami curi dari youtube, ya kami juga ngambil logo dari youtube, ya kami juga ngambil warna dari youtube, ya kami juga ngambil nama dari youtube, ya kami juga ngambil konsep dari youtube, ya fontnya kami unduh secara ilegal dari sosial media rusia. Kami tidak deadliner alhamdulillah yey
      </p>
      <a href="https://github.com/pesolosep/Adila-Fans-Club">
        <img class="h-10" src="{% static 'img/github.png' %}">
      </a>
    </div>
    <div class="flex flex-col space-y-4 border-l pl-8 py-6">
      <div class="font-body-bold text-2xl text-white">
        Made by:
      </div>
      <div class="font-body text-xl text-white">
        Alden Luthfi
      </div>
      <div class="font-body text-xl text-white">
        Puti Raissa
      </div>
      <div class="font-body text-xl text-white">
        Muhammad Faishal Adly Nelwan
      </div>
      <div class="font-body text-xl text-white">
        Tsabit Coda Rafisukmawan
      </div>
    </div>
    <div class="flex flex-col space-y-4 pl-8 py-6">
      <div class="font-body-bold text-2xl text-white">
        Special Thanks:
      </div>
      <div class="font-body text-xl text-white">
        Pak Adila Alfa Krisnadhi, S.Kom., M.Sc., Ph.D
      </div>
      <div class="font-body text-xl text-white">
        James Smith Wiggleworth
      </div>
    </div>
  </div>
</footer>